# 
# NOTE: if you have any other project file in any different location, please 
#       add them to a .gitignore file

#ignore the database
*database.db

#ignore Visual Studio project files
.vs

*.sln
*.vcxproj
*.vcxproj.*

[Dd]ebug
[Rr]elease
[Bb]in
[Oo]bj
[Ll]og

Debug/
